.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.course-images {
    width: 640;
    height: 320;
}

.card {
    display: grid;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}

.card-title {
    font-size: larger;
    text-align: center;
}

.card-description {
    padding: .5rem;
    line-height: 1.6em;
}

.card-thumbnail img {
    max-width: 100%;
}

.fall {
    background-color: tomato;
}

.winter {
    background-color: turquoise;
}

.button {
    align-self: end;
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 1s ease-out;
}

.button:hover {
    filter: brightness(90%);
    color: black;
}

.card-header {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}