@import "cards.css";
html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
    background-color: #efefef;
}

@keyframes popUpOpacity{
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

.description {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 100%;
    background: white;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06), 0px 2px 5px 0px rgba(0, 0, 0, 0.08), 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    transition: opacity 0.3s ease-out;
    animation: popUpOpacity 1s ease-in;
}

.close {
    background-color: darkslateblue;
}

.mute {
    opacity: 0.5;
    filter: brightness(60%);
}

.bar {
    text-align: center;
    vertical-align: baseline;
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
    background-color: darkslateblue;
    color: white;
    box-shadow: 0px 1px 5px #555;
}

.bar h1 {
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: lighter;
    line-height: 1.1;
}

.bar h2 {
    font-size: 1.5em;
    text-transform: lowercase;
    font-family: cursive;
    font-style: italic;
    line-height: 1.1;
}

.info {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    font-family: serif;
    font-size: larger;
}

#banner {
    width: 100%;
    min-height: 505.4px;
    animation: down 4s ease;
    position: relative;
}
@media screen and (max-width: 500px) {
    #banner{
        min-height: 0;
        height: 320px;
        width: 620;
    }
}


@keyframes down {
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}